@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-fundo: #BDEAFF;
    --cor-principal: #2A98E6;
    --cor-secundaria: #295CE6;
    --cor-destaque: #3329E6;
}

body {
    background-color: var(--cor-fundo);
}

header {
    background-color: var(--cor-principal);
    text-align: center;
    padding: 1.5rem;

    & h1 {
        color: var(--cor-destaque);
        font-size: 2.3rem;
    }

    & p {
        padding-top: 10px;
        font-size: 1.3rem;
    }
}

form {
    width: 70vw;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;

    & h2 {
        color: var(--cor-secundaria);
        font-size: 1.6rem;
    }

    & div {
        padding: 10px;
    }

    & label {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    form {
        width: 700px;
        transition: 0.3s;
    }
}

input[type="button"] {
    background-color: var(--cor-fundo);
    font-size: 0.9rem;
    width: 150px;
    height: 50px;
    border-radius: 5px;

    &:hover {
        background-color: var(--cor-secundaria);
        color: white;
        font-weight: bold;
        transition: 0.2s;
    }
}

#container-res {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
}

#areaRes {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--cor-destaque);
}






